@charset "UTF-8";

/*Style for body*/
body{
    background-color: #F0F0F2;
    height: 100%
}

/*Style for heading 1*/
h1{
    color:#4A4C59;
    text-align: center;
    font-size: 60px;
}

/*Style for heading 3*/
h3{
  color:#4A4C59;
  text-align: center;
}

/*Style for paragraphs*/
p{
  color:#4A4C59;
  text-align: center;
  font-size: 20px;
}

/* Style for Navigation Bar*/
.navbar {
    background-color: #83818C;
    border-radius: 30px;
    overflow: hidden;
  }
  
  /* Style for links in navigation bar*/
  .navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 30px;
  }
  
  /* Make tabs a different color when mouse hovers over tab*/
  .navbar a:hover {
    background-color: #ddd;
    border-radius: 30px;
    color: black;

  }
  
  /* Make active link colored */
  .navbar a.active {
    background-image: linear-gradient(#adeeef, rgb(136, 52, 238));
    border-radius: 30px;
    color: white;
  }

  /*Style for form*/
  .form{
    background-image: linear-gradient(45deg, #adeeef, rgb(136, 52, 238));
    text-align: center;
    border: 7px solid rgb(119, 118, 118);
    border-radius: 30px;
    margin-right: 30%;
    margin-left: 30%;
  }
  /*Style for all center classes (image, video, and button)*/
  .center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
/*Style for footer*/ 
  .footer {
    position: fixed;
    height: 100px;
    margin-top: -100px;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 30px;
    color: #4A4C59;
    text-align: center;
    clear: both;
  }